<h1>Temperature Log</h1>  
<p><strong>Total Measurements:</strong> <%= @temps.count %></p> 
<p><strong>Last Measurement:</strong> <%= @temps.last.created_at.to_formatted_s(:long)%></p>
<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<th>Time</th>
		<th>Celcius</th>
	</tr>
	<% @temps.each do |temp| %>
	<tr>
		<td><%= temp.created_at.to_formatted_s(:long)%></td>
		<td><%= temp.celcius%></td>
	</tr>
	<% end %>
</table>